.main_container{
    display: block;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 208, 255);
    max-width: 100vh;
    height: 160vh;
    padding: 40px;
}

.container{
    box-shadow: 0 0 10px #3f3f3f77;
    background-color: #ffffff;
    width:600px;
    display: block;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.signupheading{
    text-align: center;
    color: black;
    margin-bottom: 50px;
    font-size: 25px;
    border-color: white;
    border-width: 1px;
    -webkit-text-stroke: 0.8px white; /* Stroke thickness and color */
}

form div{
    margin-bottom: 10px;
}
    

.lblEmail{
    text-align: left;
}

.linkLogin{
    text-align: center;
}

input{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 530px;
    box-shadow: 0 0 10px #3f3f3f2a;
}

.signupBtn, .clearBtn{
    padding: 10px 20px;
    margin-top: 10px;
    background-color: #004880;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 530px;
    font-weight: bold;
    font-size: medium;
    box-shadow: 0 0 10px #3f3f3fca;
}

.clearBtn{
    background-color: red;
}

button:hover{
    /*background-color: white;*/
    opacity: .7;
}

@media (max-width: 858px){
    .main_container{
        width: 52vh;
    }

    h1{
        font-size: 30px;
        margin-top: -15px;
    }

    h4{
        font-size: 10px;
    }

    .container{
        display: block;
        width: 40vh;
        height: 850px;
    }

    input{
        width: 220px;
        height: 20px;
        font-size: 12px;
    }

    .signupBtn, .clearBtn{
        width: 220px;
        height: 30px;
        font-size: 12px;
    }

    label{
        font-size: 12px;
    }

    footer{
        margin-top: -150px;
    }
}

section{
    background: url(images/BGImage.jpg) no-repeat;
    background-size: cover;
    height: calc(160vh - 5px);
}